<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html charset="UTF-8">

<head>
<meta charset="utf-8"/>
  <title>Drink adding</title>
</head>
<body>

  <h2>Drinks</h2>

  <h4>Add a new drink</h4>
  
  <form method="POST" action="/addDrink">
      Drink name:<br/>
      <input type="text" name="name"/><br/>
      <input type="submit" value="Add"/>
  </form>

  <h4>Add ingredients</h4>

  <form method="POST" action="/addRawIngredient">
      Drink name:<br/>
      <select name="drinkki">
            <option th:each="drinkki: ${drinkit}"
			th:value="${drinkki}"
			th:text="${drinkki}">
			</option>
      </select>
      <br/>
	  
      Ingredient to be added:
	  <br/>
      <select name="raakaaine">
            <option th:each="raakaaine: ${raakaaineet}"
			th:value="${raakaaine}"
			th:text="${raakaaine}">
			</option>
      </select>
	  
	  
      <br/>
      Amount<br/>
      <input type="text" name="amount"/><br/>
      Instruction<br/>
      <input type="text" name="instruction"/><br/>
      <input type="submit" value="Add"/>
  </form>

  <ul>
    <li>
      <a href="../">Back to drinklist</a>
    </li>
  </ul>
  </body>
</html>