<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html>

<!-- (<a href="2/poista">poista</a>-->

    <head>
        <title>Unorthodox Drinklist</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>404 NOT FOUND :< </h1>
		
		<ul>
            <li th:each="drinkki: ${drinkit}">
			<a th:href="${'/drinkit/' + drinkki.id}" th:text="${drinkki.nimi} + ' - '">Drinkin nimi</a>
			<form style="display: inline;" method ="POST" action="/poistaDrinkki">
				<Button name="id" type="submit" th:text="remove" th:value="${drinkki.id}"></Button>
		    </form>
            </li>
        </ul>

        <p><a href="/drinkit">Add a drink and manage ingredients</a></p>
		<p><a href="/raakaaineet">Add or view ingredients</a></p>
    </body>
</html>