<html>
<head>
  <title>Ingredients</title>
</head>
<body>
  <h2>Ingredients</h2>
  
  		<ul>
            <li th:each="raakaaine: ${raakaaineet}">
                <span th:value="${raakaaine}" th:text="${raakaaine.nimi}"></span> 
			<form style="display: inline;" method ="POST" action="/poistaRaakaAine">
				<Button name="id" type="submit" th:text="Remove" th:value="${raakaaine.id}"></Button>
		    </form>
            </li>
        </ul>

  <h4>Add ingredient :</h4>
  
  <form method="POST" action="/raakaaineet">
      Name of ingredient:<br/>
      <input type="text" name="name"/><br/>
      <input type="submit" value="Add"/>
  </form>
  

  <ul>
    <li>
      <a href="../">Back to homepage</a>
    </li>
  </ul>
  </body>
</html>
